
{% extends "polls/base.html" %}
{% load static %}
{% block style%}<link rel="stylesheet" type="text/css" href="{% static 'polls/styles/detail.css' %}">{% endblock %}
{% block title%}{{question.question_text}}{% endblock %}
{% block content%}
    <span class="back-arrow"><a href="{% url 'polls:index'%}"><img src="{% static 'polls/icons/arrow-back.svg' %}" alt="back" width="25px"></a></span>
    <h2 id="header">{{question.question_text}}</h2>
    <form action="{% url 'polls:vote' question.id %}" method="post"> 
        {%csrf_token%}
        <ul>
            {%for choice in question.choice_set.all%}
            <li>
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                <div class="check"><div class="inside"></div></div>
            </li>
            {%endfor%}
        </ul>
        {% if error_message %} <h3 class="error_messege">{{error_message}}</h3> {% endif %}
        <input type="submit" value="Vote" id="submit_btn">
    </form>    
{% endblock %}